@import "tailwindcss";
@plugin "daisyui";

html {
  scrollbar-width: thin;
  scrollbar-color: #03738C black;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #03738C;
  border-radius: 8px;
}
